$dscp-blue-dark: (
  50: #E0E6EB,
  100: #B3C0CE,
  200: #8096AE,
  300: #4D6B8D,
  400: #264C74,
  500: #002C5C,
  600: #002754,
  700: #00214A,
  800: #001B41,
  900: #001030,
  A100: #6988FF,
  A200: #3660FF,
  A400: #0338FF,
  A700: #0031E8,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$dscp-blue-light: (
  50: #E0EEF9,
  100: #B3D4F0,
  200: #80B8E6,
  300: #4D9BDC,
  400: #2685D5,
  500: #0070CD,
  600: #0068C8,
  700: #005DC1,
  800: #0053BA,
  900: #0041AE,
  A100: #D8E4FF,
  A200: #A5C0FF,
  A400: #729CFF,
  A700: #588AFF,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);